language: ruby

rvm:
  - 2.4
  - 2.5
  - 2.6
  - 2.7
  - 3.0
  - ruby-head
  - truffleruby-head

matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: truffleruby-head

env:
  - COVERALL=1

notifications:
  email: false
  slack:
    secure: "N9zPR5jnF1TBiqvb3mCV6Wem3TIvqu4tXiob2P66vBMwmj1ewWvyUzNLwAEOCDc3mRfsI50IYXHewckAUpCWW7XEJlT/pv8llMsoiHqArb7SGJyDdy3ZRr35L7glixs/ikod+xhRKXMM3jML/2MgSa+Culzhl42tMUFDk+bBBQU="
